{# templates/products/detail.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div class="product-detail">
            <div class="product-image">
                {% if product.imageName %}
                    <img src="{{ asset('images/products/' ~ product.imageName) }}" alt="{{ product.name }}">
                {% endif %}
            </div>
            <div class="product-info">
                <h1>{{ product.name }}</h1>
                <p>{{ product.description }}</p>
                <p>{{ (product.price )|number_format(2, ',', ' ') }} EUR</p>
                <div class="size-selection">
                    <form action="{{ path('add_to_cart', { id: product.id }) }}" method="post">
                        <label for="size">Choisissez une taille :</label>
                        <select id="size" name="size">
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                        <button type="submit" class="btn btn-primary">Ajouter au panier</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="company-info">
            <h2>Informations de la société</h2>
            <p><strong>Nom de la société :</strong> Stubborn</p>
            <p><strong>Adresse :</strong> Piccadilly Circus, London W1J 0DA, Royaume-Uni</p>
            <p><strong>Adresse de contact :</strong> stubborn@blabla.com</p>
        </div>
    </main>
{% endblock %}
